* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(233, 232, 231);
}

bodyCSS{
    margin: 1rem;
    padding: 0;
    font-family: Arial, sans-serif;
}

.headerH1 {
  color: #4869d4;
  text-align: center;
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 2rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 20px;
}

.containerInput {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.btnMain {
  background-color: #42b983;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background-color: #369a6f;
  }
}

.btnCancel {
  background-color: #b93329;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background-color: #8d221b;
  }
}

.btnSave {
  background-color: #36dd36;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background-color: #229c22
  }
}

.displayBtns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}